/* General Styles */
body {
    background-color: black;
    color: #dd2c2c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Common container styling */
.container, .registration-container, .forgot-password-container {
    width: 90%;
    max-width: 45%;
    margin: 20px;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff0000;
}

/* Heading styles */
h1 {
    text-align: center;
    color: #ff0000;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

/* Input styles */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: black;
    color: #f60707;
    box-sizing: border-box;
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

/* Link styles */
a {
    color: #cc0000;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff0000;
}

/* Centered paragraph */
p {
    text-align: center;
    margin-top: 15px;
}

/* Login button style */
.login-button {
    display: inline-block;
    color: rgb(223, 12, 12);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #cc0000;
}